<h1>RentOriginals - Artists</h1>


<% @artists.each do |artist| %>
  <tr>
    <br />
    <td><%= artist.title %></td>
    <td><%= link_to artist.first_name, artist %></td>
    <td><%= link_to artist.last_name, artist %></td>  
    <td><%= artist.url %></td>
    <td><%= link_to 'Delete artist?', artist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br /><br />

<%= link_to 'Sign-up', new_artist_path %>
