<!DOCTYPE html>
<html>
<head>
  <title>Rento</title>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montez" %>
  <%= stylesheet_link_tag "scaffold" %>  
<%= javascript_include_tag :"artists" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
